<!DOCTYPE html>
<html>
    <head>
        <title>{{festival.name}}</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/festival.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}" />
    </head>

    <body>

        <h1 id="festivalHeader" data-festival-id="{{festival.url}}">{{festival.name}}</h1>
        <form id="artistSearchForm" method="post">{% csrf_token %}
            <label for="artistSearchBox">Search for artist: </label>
            <input id="artistSearchBox" name="artistSearchString" type="text"/>
            <input id="songkickId" name="songkickId" type="hidden" maxlength="10"/>
        </form>
        <table border="1">
            <tr>
                <td></td>
                {% for date in dates %}
                <th class="dateCell">{{date.day}}</th>
                {% endfor %}
            </tr>
            {% for artist in artists %}
            <tr>
                <td class="artistCell">{{artist.name}}</td>
                {% for status in artist.statuses %}
                <td class="status_{{status}}">{{status}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'js/festival.js' %}"></script>
    </body>
</html>